<h1>Welcome to this place</h1>

<div class="home_links">
  <%= link_to "All Users", users_path %>
  <%= link_to "Create new event", new_event_path %>
  <%= link_to "See all events", events_path %>
</div>
